/* Home Panel */
#home {
  background-color: #00ff;
}

/* Add Employees Panel */
#addEmployees {
  background-color: orange;
}

/* Remove Employees Panel */
#removeEmployees {
  background-color: #00ff55;
}

/* Edit Profiles Panel */
#editProfiles {
  background-color: red;
}

/* Check Profiles Panel */
#checkProfiles {
  background-color: gray;
}

/* All Profiles Panel */
#allProfiles {
  background-color: purple;
}
